<md-toolbar color="primary" class="navbar mat-elevation-z6">
  <a href="#" md-button>Recipe Book</a>
  <a href="#" md-button (click)="onSelect('recipe')">Recipes</a>
  <a href="#" md-button (click)="onSelect('shopping-list')">Shopping List</a>
  <button md-icon-button [mdMenuTriggerFor]="manage" class="align-right">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #manage="mdMenu">
    <a href="#" md-menu-item>Save Data</a>
    <a href="#" md-menu-item>Fetch Data</a>
  </md-menu>
</md-toolbar>
