<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
    style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button md-button [mdMenuTriggerFor]="manage" color="primary" class="primary-button">Manage Recipe</button>
    <md-menu #manage="mdMenu">
      <a href="#" md-menu-item>To Shopping List</a>
      <a href="#" md-menu-item>Edit Recipe</a>
      <a href="#" md-menu-item>Delete Recipe</a>
    </md-menu>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
