<div class="row">
  <div class="col-12">
    <button md-button>New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <md-list class="col-12">
    <md-list-item *ngFor="let recipe of recipes">
      <a md-line href="#"><h3>{{ recipe.name }}</h3></a>
      <p md-line>{{ recipe.description }}</p>
      <p md-line>{{ recipe.description }}</p>
      <p md-line>{{ recipe.description }}</p>
      <img [src]="recipe.imagePath"
           alt="{{ recipe.name }}" style="max-height: 200px; margin: 20%;">
    </md-list-item>
    <app-recipe-item></app-recipe-item>
  </md-list>
</div>
