<div class="row">
    <button md-button>New Recipe</button>
</div>
<hr>
<div class="row">
  <md-list>
    <md-list-item *ngFor="let recipe of recipes">
      <a md-line href="#"><h3>{{ recipe.name }}</h3></a>
      <p md-line>{{ recipe.description }}</p>
      <p md-line>{{ recipe.description }}</p>
      <p md-line>{{ recipe.description }}</p>
      <img [src]="recipe.imagePath"
           alt="{{ recipe.name }}" style="max-height: 100px; max-width: 160px; margin: 20px;">
    </md-list-item>
    <app-recipe-item></app-recipe-item>
  </md-list>
</div>
