//================  custom theme  ==================

@import '~@angular/material/theming';

@include mat-core();
$recipe-book-primary: mat-palette($mat-blue, A200);
$recipe-book-accent:  mat-palette($mat-orange, A200);
$recipe-book-warn:    mat-palette($mat-deep-orange, A200);
$recipe-book-theme: mat-light-theme($recipe-book-primary, $recipe-book-accent, $recipe-book-warn);
@include angular-material-theme($recipe-book-theme);

//================  Material Icons  ==================

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

//================  custom scss  ==================

html {
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: #555;
  background-color: #fff;
  margin: 0px;
}


.container {
  display: block;
}

.row {
  display: flex;
  flex-flow:row;
  box-sizing: border-box;
}

.row-reverse {
  display: flex;
  flex-flow: row-reverse;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

.column-reverse {
  display: flex;
  flex-flow: column-reverse;
  box-sizing: border-box;
}

.col-1 {
  flex:1;
}

.col-2 {
  flex:2;
}

.col-3 {
  flex:3;
}

.col-4 {
  flex:4;
}

.col-5 {
  flex:5;
}

.col-6 {
  flex:6;
}

.col-7 {
  flex:7;
}

.col-8 {
  flex:8;
}

.col-9 {
  flex:9;
}

.col-10 {
  flex:10;
}

.col-11 {
  flex:11;
}

.col-12 {
  flex:12;
}

.primary-button {
  background: #E8F1FF;
}

.accent-button {
  background: #FFF5E8;
}

.warn-button {
  background: #FFEDE8;
}
